<section>
  <main>
    <h2>REAL TIME URL TRACKER</h2>
    <button mat-raised-button color="primary" (click)="pathDirect()">View More</button>
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table"> -->
    <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell">
      <!-- Position Column -->

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Index
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let index = index">
          {{index + 1}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="urlPath">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Url Path
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row[0]}}
        </mat-cell>
      </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Action
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index" (click)="onRowClick(row)">
            <button mat-raised-button color="primary">View More</button>
          </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; let rowIndex = index; columns: columns"
        [class.odd-row]="rowIndex % 2" [class.even-row]="!(rowIndex % 2)" [style.cursor]="'pointer'" matRipple>
      </mat-row>

    </mat-table>
    <!-- </table> -->
  </main>
</section>



<!-- <ng-container matColumnDef="rrn">
  <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap psl-3 tbl-col-width-per-35 ">RRN
  </mat-header-cell>
  <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="psl-3 tbl-col-width-per-35">{{ row.refNum
    }}</mat-cell>
</ng-container> -->